body {
  max-width: 800px;
  margin: auto;
  padding: calc(0px + 2.0vw);
  line-height: 1.54;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;

  /*display: flex;*/
  /*min-height: 100vh;*/
  /*flex-direction: column;*/

}

p {
  font-family: "StixTwo", Times New Roman, serif;
  text-indent: 25px;
  font-size: 22px;
  margin-bottom: 0px;
  margin-top: 0px;
}


figcaption {
  font-family: "Inter", "StixTwo", Times New Roman, serif;
  text-indent: 0;
  font-size: 18px;
  /*font-size: 20px;*/
  /*font-size: 1vw;*/
  margin-bottom: 0px;
  margin-top: 0px;
  opacity: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: -2.5%;
  margin-bottom: 5%;
}

ul, ol {
  font-size: 22px;
  font-family: "StixTwo", serif;
}


div.footnotes.ol {
  text-indent: 0;
}


code {
  font-family: "JuliaMono", monospace;
  font-size: 20px;
  max-width: 100%;
  font-style: normal;
}

pre {
  max-width: 800px;
  overflow-x: auto;
}

blockquote {
  font-family: "Inter", sans-serif;
  border-left: 4px solid #dddddd;
}

blockquote > p {
  font-family: "Inter", sans-serif;
  text-indent: 0;
  font-size: 20px;
  padding-left: 35px;
}


a:link, a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: blue;
}

a:active {
  color: blue;
  text-decoration: underline dotted;
}

h1, h2, h3, h4 { font-family: "Inter", sans-serif; }

h1 {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 5px;
  margin-top: 35px;
}

h2 {
  font-size: 28px
  font-weight: 600;
  margin-bottom: 0px;
  margin-top: 17px;
}


div.title {
	font-family: "Inter", sans-serif;
	font-size: 36px;
	text-align: left;
}

div.subtitle {
	font-family: "Inter", sans-serif;
	font-size: 28px;
	text-align: left;
}

div.author {
	font-family: "Inter", sans-serif;
	font-size: 28px;
	text-align: right;
}

div.date {
	font-family: "Inter", sans-serif;
	font-size: 28px;
	text-align: right;
	margin-bottom: 50px;
}


.menu {
  font-family: "Inter", sans-serif;
  padding-left: auto;
  padding-right: 0;
  margin: 0;
  font-size: 20px;
  text-align: right;
  /*width: 6.25%*/
}

.menu li {
  list-style-type: none;
  /*display: inline-block;*/
  /*width: calc(55px + 0.25vw);*/
  padding: 0.0;
}

img {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  object-fit: contain;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 0;
  padding-left: 0;
  text-indent: 0;
  text-align: center;
  object-fit: cover;
}

figure {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  max-width: 95%;

}


table {
  margin-top: 50px;
  margin-bottom: 50px;
  border-collapse: collapse;
  /*width: 100%;*/
  width: 100%;
  overflow-x: scroll;
  max-width: 100vw;
  padding: 8px;
  /*position: sticky;*/
  margin-left: auto;
  margin-right: auto;
  border-bottom: 2px solid #000;
}


th {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  border-top: 2px solid #000;
}

td {
  border-top: 1px solid #000;
}

th, td {
  border-collapse: collapse;
  padding: 8px 8px;
  max-width: 100vw;
  border-left: 1px dotted #d2d2d4;
  border-right: 1px dotted #d2d2d4;
}


tbody tr:nthchild(even) {
  background-color: #eee;
}

.browsePosts {
  display: flex;
  width: 100%;
}

.nextPost {
  float: left;
}

.previousPost {
  float: right;
}

div.error404 {
  font-family: "StixTwo", Times New Roman, serif;
  text-indent: 0;
  font-size: 22px;
  /*font-size: 20px;*/
  /*font-size: 1vw;*/
  margin-bottom: 0px;
  margin-top: 0px;
}

/*mjx-math {
    font-family: MJX-STX-ZERO, MJX-STIX-N;
}*/
