<!--list posts-->
{{ partial "header.html" . }}

<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/postListStyles.css">

{{if not .IsHome }}
<div class="title">{{ .Title | markdownify }}</div>
{{ end }}

{{ .Content }}

<div class="postList">
<ul>
  {{ $pages := .Pages }}
  {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
  {{ range (where $pages "Section" "!=" "") }}
  <li>
	  <span class="date"><b>{{ .Date.Format "2006-01-02" }}</b> – </span>
    <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
  </li>
  {{ end }}
</ul>
</div>
{{ partial "footer.html" . }}
